doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE-edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='author', content='Samuelson | tech.samuelson@gmail.com')

    link(href="./src/css/main.css", rel="stylesheet")
    title Samuelson Starter Kit | your Gulp starting point

    link(rel="icon", href="favicon.png")
  body
    .container.centered
      h1.plh Welcome to SSK
      p  Your Gulp starting point for web development.